@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html,
body{
	width: 100%;
	height: 100%;
}

.navbar{
	background-color: #263238;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 0px;
	border-bottom: 0px;

}

.navbar-brand,
#navbar-sns{
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.main-background-color{
	background-color: #263238;
}

.intro-message-background{
	position: relative;
	padding-top: 15%;
	background: url(PNG/main_img.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	background-position:center;
	background-size: 100% auto;
}

.intro-message > h2{
	padding-top: 100%;
	font-size: 18px;
	font-weight: bold;
	opacity: 0.87;
	color: #FFFFFF;
	font-family: 'Nanum Gothic', serif;
}

.intro-message > h1{
	font-size: 18px;
	opacity: 0.87;
	color: #FFFFFF;
	font-family: 'Nanum Gothic', serif;
	font-weight: 400;
	padding-bottom: 20px;
}

.intro-message > p{
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	font-size: 14px;
	color: #B0BEC5;
	font-family: 'Nanum Gothic', serif;
	line-height: 1.6em;
}

.pro-box{
	background: url(PNG/pro_background.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-size:  auto;
}

.pro-message{
	position: relative;
	padding-top: 60%;
	padding-bottom: 20%;
}

.pro-message > h1{
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: 'Nanum Gothic', serif;
}

.pro-message > p{
	font-size: 15px;
	color: #FFFFFF;
	font-family: 'Nanum Gothic', serif;
	line-height: 1.7em;
}

.editor_image{
	position: relative;
}

.editor_image .editor_image_text >p {
	position: absolute;
	left: 100px;
	bottom: 8px;
	font-size: 18px;
	font-weight: bold;
	color: #263238;
}

.pro-mail-button{
	margin-top: 30px;
}

.slides-box{
	background-color: #ECEFF1;
}

.slide_p{
	padding-top: 20%;
	padding-left: 0px;
	font-size: 24px;
	color: #263238;
	font-weight: bold;
	font-family: 'nanumgothic';
}

.seller-box{
	margin-bottom: 2%;
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	background: url(PNG/seller_background.png) no-repeat center center scroll;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-size: auto 100%;
}

.seller-box-content > h1{
	font-size: 18px;
	color: #263238;
	font-weight: bold;
	font-family: 'Nanum Gothic', serif;
}

.seller-box-content > p{
	font-size: 16px;
	color: #263238;
	font-family: 'nanumgothic';
}

@media (max-width: @screen-xs-max) {
	.seller-box-content p{
		font-size: 10px;
	}
	.seller-box-content h1{
		font-size: 12px;
	}
}

.pinthecloud{
	background-color: #192429;
	padding-top: 25px;
}

.pinthecloud-vision > p{
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 14px;
	color: #B0BEC5;
}

.footer > p{
	border-top: 1px solid #263238;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #263238;
	font-size: 14px;
}

.ptc_team > img{
	padding-bottom: 20px;
}

.ptc_team > p{
	font-family: 'nanumgothic';
	color: #B0BEC5;
	font-size: 16px;
	margin-bottom: 20px;
}

.ptc_policy{
	border-top: 1px solid #263238;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
}

.ptc_policy > a:hover{
	text-decoration: none;
	color: #B0BEC5;
}

#highlight-text{
	color: #FFAB00;
}

.terms > h3{
	color: #FFFFFF;
	font-family: 'nanumgothic';
	font-size: 50px;
	font-weight: bold;
}

.terms > p{
	color: #FFFFFF;
	font-family: 'nanumgothic';
	font-size: 15px;
}

.terms > h2{
	color: #FFFFFF;
	font-family: 'nanumgothic';
	font-size: 30px;
	font-weight: bold;
}




